.titulo{
    text-transform: uppercase;
    font-weight: bold;
}

.titulo2{
    font-weight: bold;
}

.tituloCabecalho{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.tituloCabecalho2{
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
}

.tituloCabecalho3{
    font-weight: bold;
}

.videos{
    border: 5px solid black;
}

.link{
    text-decoration: none;
}

.visualizacaoMidias{
    text-align: center; 
    background-color: white; 
    width: 100%; 
    color: black;
}

.visualizacaoSelecao{
    text-align: center; 
    background-color: white; 
    width: 100%;
}

.cabecalhoSelecao{
    text-align: center; 
    padding-top: 10px; 
    letter-spacing: 3px; 
    font-weight: bold;
    border-bottom: 2px solid gray;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.loginMenu{
    background-color: black;
    color: white;
    text-align: center;

}


.rodape{
    background-color: black;
    color: white;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    text-align: center; 
    border-top: 2px white solid;
}

.rodapeNews{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center; 
    border-bottom: 2px white solid;
}

.formaPagamento{
    width: 300px;
}

.logoSite{
    width: 230px;
}

.tableGrande{
    width: 100%;
}

.btn{
    cursor: pointer;
    height: 30px;
    width: 200px;

}

.btnBlack{
    background-color: black;
    color: white;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
}

.formLogin{
    border: 1px solid black; 
    padding: 15px;
    width: 400px;
}


.imgDestaque{
    border: 1px solid red; 
    background-color: black;
    /* width: 200px; */
    padding: 15px;
    display: inline-block;
    margin: 15px;
}

.imgDestaquePesquisa{
    border: 1px solid red; 
    background-color: black;
    width: 50px; 
    padding: 5px;
    display: inline-block;
    margin: 5px;
}

.imgDestaqueCarrinho{
    width: 100px;
}


.imgDestaqueCarrinhoBorda{
    border: 1px solid red; 
    background-color: black;
    /* width: 200px; */
    padding: 5px;
    display: inline-block;
    margin: 5px;
}


.bordaPesquisa{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 0 auto;
    border-spacing: 15px;
}

.tabelaComentario{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 0 auto;
    width: 90%;
    text-align: left;
    padding: 15px;
}


.textoDesconto{
    color: darkgray;
    text-decoration: line-through;
    font-size: 12px;
}

.textoPreco{
    font-size: 20px;
    font-weight: bold;
}

.textoDescontoPorcentagem{
    color: darkgray;
    border: 1px solid darkgray;
}


.imgIconesBotao{
    width: 20px;
}

.tamanhoPadrao{
    height: 30px;
}

.iconeCurticao{
    width: 20px;
    cursor: pointer;
}